<div class="container">
   <footer class="footer">
      <small>
      Copyright © <a href="#">The Complete Ruby on Rails Course practice</a>
      for <a href="#">Ayman Naif</a>
      </small>
      <nav>
         <ul>
            <li><%= link_to "About", about_path %></li>
         </ul>
      </nav>
   </footer>
</div>